{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "src": "./src"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/proposal-object-rest-spread"],
    ["babel-plugin-transform-typescript-metadata"]
  ],
  "ignore": []
}
